Source: dde
Section: metapackages
Priority: extra
Maintainer: LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.linuxdeepin.com

Package: dde
Architecture: all
Depends: ${misc:Depends},
 deepin-desktop-base | deepin-desktop-server,
 deepin-default-settings,
 dde-desktop,
 dde-dock,
 dde-launcher,
 dde-control-center(>> 2.90.5),
 startdde,
 dde-session-ui,
 deepin-artwork,
 deepin-manual,
 dde-file-manager,
 dde-qt5integration,
 eject,
 plymouth-theme-deepin-logo,
 deepin-wallpapers,
 fonts-noto,
 dde-kwin,
 dde-clipboard,
 deepin-aiassistant,
 deepin-screensaver,
 dde-clipboard
Recommends:
 dde-introduction,
 deepin-appstore,
 deepin-editor,
 deepin-system-monitor,
 pppoe,
 gvfs-fuse,
 smbclient,
 python-smbc,
 cups-filters,
 printer-driver-all,
 foomatic-db-compressed-ppds,
 foomatic-db-engine,
 openprinting-ppds,
 libsane-hpaio,
 linux-firmware,
 wireless-tools,
 ttf-deepin-opensymbol,
 deepin-terminal,
 deepin-feedback,
 printer-driver-hpcups,
 printer-driver-hpijs,
 libmtp-runtime,
 samsung-print,
 open-vm-tools-desktop,
 open-vm-tools,
 usbmuxd,
 ipheth-utils,
 libimobiledevice-dev,
 libimobiledevice-utils,
 dnsutils,
 libfile-mimeinfo-perl,
 deepin-shortcut-viewer,
 crda,
 network-manager-integration-plugins,
 libtxc-dxtn-s2tc0 | libtxc-dxtn-s2tc,
 libflashplugin-pepper,
 x-display-manager,
 deepin-music,
 deepin-image-viewer,
 deepin-graphics-driver-manager,
 dde-calendar,
 deepin-calculator,
 deepin-voice-note,
 deepin-screen-recorder,
 deepin-font-manager,
 deepin-draw,
 deepin-album,
 deepin-movie,
 deepin-deb-installer,
 deepin-compressor
Conflicts:
 dde-control-center(<< 2.90.5),
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
Description: Deepin New Desktop Environment - Next
 This is a meta package depends Deepin New Desktop Envrionment.
 .
 You can safety remove it after installed.
